.SpotifyPlaylistItem {
  text-align: left;
}

.SpotifyPlaylistItem > img {
  max-height: 100px;
  width: auto;
  float:left;
}

.PlaylistDetails {
  display: inline-block;
  clear:left;
  text-align: left;
}

.SpotifyPlaylistItem.ManageButton {
  vertical-align: bottom;
}

.SpotifyPlaylistsList > article > header {
  text-align: right;
}
