doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      p spotify logo
    main
      block content
    footer
      p © 2024 Playlister
