<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#fff" />
  <!-- META TAGS -->
  <meta name="keywords" content="spotify, playlists, tracks, currently playing, playlist manager">
  <meta name='description' content="spotify, playlists, tracks, currently playing, playlist manager">
  <meta name="subject" content="spotify, playlists, tracks, currently playing, playlist manager">
  <meta name="abstract" content="spotify, playlists, tracks, currently playing, playlist manager">
  <meta name="topic" content="spotify playlist manager">
  <meta name="summary"
    content="Add / remove the currently playing track on Spotify to and from multiple playlists at once">
  <meta name='Classification' content='Business'>
  <meta name='author' content='Rishi Satsangi, thepresident@rishisatsangi.com'>
  <meta name='designer' content='Rishi Satsangi, thepresident@rishisatsangi.com'>
  <meta name='owner' content='Rishi Satsangi, thepresident@rishisatsangi.com'>
  <meta name='reply-to' content='thepresident@rishisatsangi.com'>
  <meta name='url' content='https://playlister.dethbird.com'>
  <meta name='identifier-URL' content='https://playlister.dethbird.com'>
  <meta name='copyright' content="Spotify Playlister">
  <meta name='robots' content='index,follow'>

  <!-- OPEN GRAPH TAGS -->
  <!-- HTML Meta Tags -->
  <meta name="description"
    content="Add / remove the currently playing track on Spotify to and from multiple playlists at once">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://playlister.dethbird.com">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Spotify Playlister">
  <meta property="og:description"
    content="Add / remove your currently playing track on Spotify to and from multiple playlists at once">
  <meta property="og:image"
    content="https://opengraph.b-cdn.net/production/images/70bc9a3b-0341-465e-992b-c4c5f02f9de6.png?token=q1LjDd36ZbEL7VBfeizg1FhgAUFtX1rmhkc4NQgtt3k&height=630&width=1200&expires=33258961713">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="playlister.dethbird.com">
  <meta property="twitter:url" content="https://playlister.dethbird.com">
  <meta name="twitter:title" content="Spotify Playlister">
  <meta name="twitter:description"
    content="Add / remove your currently playing track on Spotify to and from multiple playlists at once">
  <meta name="twitter:image"
    content="https://opengraph.b-cdn.net/production/images/70bc9a3b-0341-465e-992b-c4c5f02f9de6.png?token=q1LjDd36ZbEL7VBfeizg1FhgAUFtX1rmhkc4NQgtt3k&height=630&width=1200&expires=33258961713">

  <link rel="apple-touch-icon" href="/logo192.png" />
  <link rel="manifest" href="/manifest.json" />
  <script defer="defer" src="/js/main.js"></script>
  <link href="/css/main.css" rel="stylesheet">
  <title>Spotify Playlister</title>
  <script>
    window.spotifyUser = {{ spotifyUserJson | safe }};
  </script>
</head>

<body>
  {% block content %}{% endblock %}
</body>

</html>
