<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#fff" />
  <!-- META TAGS -->
  <meta name="keywords" content="spotify, playlists, tracks, currently playing, playlist manager">
  <meta name='description' content="spotify, playlists, tracks, currently playing, playlist manager">
  <meta name="subject" content="spotify, playlists, tracks, currently playing, playlist manager">
  <meta name="abstract" content="spotify, playlists, tracks, currently playing, playlist manager">
  <meta name="topic" content="spotify playlist manager">
  <meta name="summary"
    content="Add / remove the currently playing track on Spotify to and from multiple playlists at once">
  <meta name='Classification' content='Business'>
  <meta name='author' content='Rishi Satsangi, rishi@playlister.love'>
  <meta name='designer' content='Rishi Satsangi, rishi@playlister.love'>
  <meta name='owner' content='Rishi Satsangi, rishi@playlister.love'>
  <meta name='reply-to' content='rishi@playlister.love'>
  <meta name='url' content='https://playlister.love'>
  <meta name='identifier-URL' content='https://playlister.love'>
  <meta name='copyright' content="Playlister for Spotify">
  <meta name='robots' content='index,follow'>

  <!-- OPEN GRAPH TAGS -->
  <!-- HTML Meta Tags -->
  <meta name="description"
    content="Add / remove the currently playing track on Spotify to and from multiple playlists at once">

  <!-- HTML Meta Tags -->
  <title>Playlister for Spotify</title>
  <meta name="description" content="Add / remove the currently playing track from multiple playlists at once
- a new way to interact with Spotify">

  <!-- HTML Meta Tags -->
  <title>Playlister for Spotify</title>
  <meta name="description" content="Add / remove the currently playing track from multiple playlists at once
- a new way to interact with Spotify">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://playlister.love">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Playlister for Spotify">
  <meta property="og:description" content="Add / remove the currently playing track from multiple playlists at once
- a new way to interact with Spotify">
  <meta property="og:image"
    content="https://opengraph.b-cdn.net/production/images/57d6b980-43e1-477d-b480-1a22baeeef84.jpg?token=-y6xmxLY5kCk1URw3jCyLoNymtU-QHXYm6fgsyCTp5o&height=630&width=1200&expires=33260181393">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="playlister.love">
  <meta property="twitter:url" content="https://playlister.love">
  <meta name="twitter:title" content="Playlister for Spotify">
  <meta name="twitter:description" content="Add / remove the currently playing track from multiple playlists at once
- a new way to interact with Spotify">
  <meta name="twitter:image"
    content="https://opengraph.b-cdn.net/production/images/57d6b980-43e1-477d-b480-1a22baeeef84.jpg?token=-y6xmxLY5kCk1URw3jCyLoNymtU-QHXYm6fgsyCTp5o&height=630&width=1200&expires=33260181393">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->

  <link rel="apple-touch-icon" href="/logo192.png" />
  <link rel="manifest" href="/manifest.json" />
  <script defer="defer" src="/js/main.js"></script>
  <link href="/css/main.css" rel="stylesheet">
  <title>Spotify Playlister</title>
  <script>
    window.spotifyUser = {{ spotifyUserJson | safe }};
  </script>
</head>

<body>
  {% block content %}{% endblock %}
</body>

</html>
