@use "./components/Nav.scss";
@use "./features/player/Player.module.scss";
@use "./features/favoritePlaylists/FavoritePlaylists.module.scss";
@use "./features/managedPlaylists/ManagedPlaylists.module.scss";
@use "./features/spotifyPlaylists/SpotifyPlaylists.module.scss";

.AppLogo {
  width: 350px;
  height:auto;
}
.SpotifyLogo {
  max-width: 50px;
  height: auto;
  margin-left: 15px;
}
.Avatar {
  float: left;
  margin-right: 10px;
}
.ManageButton {
  text-align: right;
}


.CoverArt {
  max-height: 100px;
  width: auto;
}
