.Player {
  text-align: center;
}
 .PlayerControls {
  height: 100%;
  /* match left padding with album art for visual alignment */
  padding-left: 8px;
 }
 .AlbumArt {
  float: left;
  margin-right: 10px;
  /* add a little left padding so the album art lines up with the controls */
  padding: 10px 5px 5px 15px;
 }
.AlbumInfo {
  margin: 0px;
  padding-top: 5px;
  text-align: left;
}
.ProgressBar {
  width: 100%;
  margin-top: 12px;
}
.ProgressTrack {
  width: 100%;
  height: 4px;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
.ProgressValue {
  height: 100%;
  border-radius: inherit;
  background-color: #f83eb8;
  transition: width 0.2s ease-out;
}
.ProgressTime {
  margin-top: 4px;
  text-align: right;
}
