.Player {
  text-align: center;
}
.PlayerControls {
  height: 100%;
}
.AlbumArt {
  float:left;
  margin-right: 10px;
  padding: 5px;
}
.AlbumInfo {
  margin: 0px;
  text-align: left;
}
.ProgressBar {
  width: 100%;
  margin-top: 12px;
}
.ProgressTrack {
  width: 100%;
  height: 4px;
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 0.2);
  overflow: hidden;
}
.ProgressValue {
  height: 100%;
  border-radius: inherit;
  background-color: #f83eb8;
  transition: width 0.2s ease-out;
}
