.hero {
    position: relative;
    background-image: url("https://playlister.love/img/login-bg.jpg");
    background-size: cover;
    background-position: bottom;
    color: var(--mantine-color-white);
    border-radius: 10px;
}

.container {
    z-index: 1;
    position: relative;
}

.AppLogo {
    display: inline-block !important;
}