.hero {
    position: relative;
    background-image: url(https://cdn.midjourney.com/23595c31-9295-400d-b054-c3912f21a7c3/0_0.png);
    background-size: cover;
    background-position: bottom;
    color: var(--mantine-color-white);
    border-radius: 10px;
}

.container {
    z-index: 1;
    position: relative;
}

.AppLogo {
    display: inline-block !important;
}
